            
<div>

    {{ form_start(form) }}
    
        {{ form_errors(form) }}
            
        {% if form._token is defined %}
            {{ form_row(form._token, {attr: {'data-debug-form-target': 'csrf'} }) }}
        {% endif %}
            
        {{ form_row(form.input) }}
    
        <div role="group">
            {{ form_widget(form.success) }}
            {{ form_widget(form.submit) }}
        </div>
        
        {{ form_rest(form) }}
    
    {{ form_end(form) }}

</div>
