{% extends 'base.html.twig' %}
{% block content %}
    
    <section class="grid">
        
         <article data-controller="debug-form">
            <header><h3>Turbo Form</h3></header>
            {{ form_start(form_turbo) }}
                {{ form_errors(form_turbo) }}
                <div role="group">
                    {% if form_turbo._token is defined %}
                        {{ form_row(form_turbo._token, {attr: {'data-debug-form-target': 'csrf'} }) }}
                    {% endif %}
                    {{ form(form_turbo.success) }}
                    <button type="submit" class="">Submit</button>
                </div>
                {{ form_rest(form_turbo) }}
            {{ form_end(form_turbo) }}
            <footer class="grid" id="form-turbo-footer" data-live-ignore="true">
                {{ _self._debug_csrf() }}
            </footer>
        </article>
        
        <article data-controller="debug-form">
            <header><h3>Live Form</h3></header>
            {{ form_start(form_live) }}
                {{ form_errors(form_live) }}
                <div role="group">
                    {% if form_live._token is defined %}
                        {{ form_row(form_live._token, {attr: {'data-debug-form-target': 'csrf'} }) }}
                    {% endif %}
                    {{ form(form_live.success) }}
                    <button type="submit" class="">Submit</button>
                </div>
                {{ form_rest(form_live) }}
            {{ form_end(form_live) }}
            <footer class="grid" id="form-live-footer" data-live-ignore="true">
                {{ _self._debug_csrf() }}
            </footer>
        </article>
        
    </section>

    
    {% macro _debug_csrf() %}
        <div>
            <label>csrf name</label>
            <input data-debug-form-target="previousCsrfValue" 
                   type="text" value="" readonly disabled  />
        </div>
        <div>
            <label>csrf value</label>
            <input data-debug-form-target="currentCsrfValue" 
                   type="text" value="" readonly disabled />
        </div>
    {% endmacro %}
    
    {# End of the #}    
{% endblock %}
