{% extends 'base.html.twig' %}
{% block content %}
    
    <section class="grid">
        
         <article data-controller="debug-form" data-turbo="off">
            <header><h3>Base Form (Turbo off)</h3></header>
             {{ include('_form.html.twig', {form: form_base}) }}
            <footer class="grid" id="form-base-footer">
                {{ _self._debug_csrf() }}
            </footer>
        </article>
        
        <article data-controller="debug-form">
            <header><h3>Base Form (Turbo on)</h3></header>
             {{ include('_form.html.twig', {form: form_turbo}) }}
            <footer class="grid" id="form-turbo-footer">
                {{ _self._debug_csrf() }}
            </footer>
        </article>
        
    </section>
    
    
    <section class="grid">
        
          <article data-controller="debug-form">
            <header><h3>Live Form</h3></header>
             <twig:FooBar  />
            <footer class="grid" id="form-live-footer">
                {{ _self._debug_csrf() }}
            </footer>
        </article>
        
        <turbo-frame id="form-live-frame">
             <article data-controller="debug-form">
                <header><h3>Turbo Frame</h3></header>
                 {{ include('_form.html.twig', {form: form_turbo_frame}) }}
                <footer class="grid" id="form-turbo-frame-footer" data-turbo-persist>
                    {{ _self._debug_csrf() }}
                </footer>
            </article>
        </turbo-frame>
        
    </section>

    
    {% macro _debug_csrf() %}
        <div>
            <label>previous csrf value</label>
            <input data-debug-form-target="previousCsrfValue" 
                   type="text" value="" readonly disabled  />
        </div>
        <div>
            <label>current csrf value</label>
            <input data-debug-form-target="currentCsrfValue" 
                   type="text" value="" readonly disabled />
        </div>
    {% endmacro %}

    
    
    
    {# End of the #}    
{% endblock %}


